.cardItemList {
  & picture {
    height: 16rem;
  }

  .card-information {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (width > 760px) {
  .cardItemList {
    width: 78vw;

    .card-body {
      display: flex;
    }

    & picture {
      height: 26rem;
    }

    .card-information {
      width: 50%;
    }
  }
}