:root {
  --bgTitleStripDark: #f5b428;
  --bgTitleStripLight: #f8da2dea;
  --bgAppYellow: #ddb944;
  --bgAppViolet: #916d96;
  --bgButtonViolet: #8e0ada;
  --bgButtonHover: #9423d4;
}

.App {
  min-width: 300px;
  min-height: 100vh;
  background: linear-gradient(to right, var(--bgButtonViolet), var(--bgAppYellow));
}