:root {
  --bgTitleStripDark: rgb(245, 180, 40);
  --bgTitleStripLight: rgba(248, 218, 45, 0.918);
}

.App {
  min-width: 300px;
}

/* ======= icon&Title ======= */
.titleStrip {
  background: radial-gradient(var(--bgTitleStripDark), var(--bgTitleStripLight));
}

.icono {
  width: 2rem;
}

@media (width < 497px) {
  .titleStrip h1 {
    font-size: larger;
  }
}